<div class="users-page">
  <div class="toolbar">
    <div class="left">
      <dx-button text="افزودن کاربر" icon="plus" (onClick)="openAdd()"></dx-button>
    </div>
    <div class="right">
      <dx-text-box
        placeholder="جستجو بر اساس نام / نام‌خانوادگی / کد ملی"
        [(value)]="searchQuery"
        (onValueChanged)="onSearchChange()"
      ></dx-text-box>
    </div>
  </div>

  <dx-data-grid
    [dataSource]="filtered"
    keyExpr="id"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [wordWrapEnabled]="true"
    [height]="500"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
  >
    <dxi-column
      caption="عکس"
      width="100"
      [allowEditing]="false"
      cellTemplate="photoCell"
    ></dxi-column>
    <ng-template dxTemplate="photoCell" let-data="data">
      <img class="thumb" [src]="getPhotoThumbnail(data)" alt="photo" />
    </ng-template>

    <dxi-column dataField="firstName" caption="نام"></dxi-column>
    <dxi-column dataField="lastName" caption="نام خانوادگی"></dxi-column>
    <dxi-column dataField="age" caption="سن" dataType="number" width="80"></dxi-column>
    <dxi-column dataField="education" caption="تحصیلات"></dxi-column>
    <dxi-column dataField="nationalId" caption="کد ملی"></dxi-column>
    <dxi-column dataField="birthDate" caption="تاریخ تولد" dataType="date"></dxi-column>

    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="false"
    ></dxo-editing>
  </dx-data-grid>

  <dx-popup
    [(visible)]="popupVisible"
    [showTitle]="true"
    [width]="600"
    height="auto"
    title="{{ isEditMode ? 'ویرایش کاربر' : 'افزودن کاربر' }}"
  >
    <div class="popup-content">
      <dx-validation-group #userValidationGroup>
        <dx-file-uploader
          [value]="fileUploaderFiles"
          [multiple]="false"
          uploadMode="useButtons"
          [allowCanceling]="true"
          accept="image/*"
          [maxFileSize]="32000000"
          labelText="عکس پروفایل"
          (onValueChanged)="onFileChanged($event)"
        >
        </dx-file-uploader>

        <dx-text-box [(value)]="formData.firstName" placeholder="نام">
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="لطفاً نام را وارد کنید"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>

        <dx-text-box [(value)]="formData.lastName" placeholder="نام خانوادگی">
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="لطفاً نام خانوادگی را وارد کنید"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>

        <dx-number-box [(value)]="formData.age" placeholder="سن">
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="لطفاً سن را وارد کنید"
            ></dxi-validation-rule>
            <dxi-validation-rule
              type="range"
              [min]="1"
              [max]="100"
              message="سن باید بین 1 تا 100 باشد"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>

        <dx-select-box
          [(value)]="formData.education"
          [items]="educationOptions"
          placeholder="تحصیلات"
          [searchEnabled]="true"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="لطفاً تحصیلات را انتخاب کنید"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>

        <dx-text-box [(value)]="formData.nationalId" placeholder="کد ملی">
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="لطفاً کد ملی را وارد کنید"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>

        <dx-date-box [(value)]="formData.birthDate" placeholder="تاریخ تولد">
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="لطفاً تاریخ تولد را وارد کنید"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-date-box>

        <dx-validation-summary></dx-validation-summary>

        <div class="popup-actions">
          <dx-button
            text="انصراف"
            stylingMode="outlined"
            (onClick)="popupVisible = false"
          ></dx-button>
          <dx-button
            text="ذخیره"
            type="success"
            (onClick)="validateAndSave(userValidationGroup)"
          ></dx-button>
        </div>
      </dx-validation-group>

      <div *ngIf="previewPhoto" class="preview">
        <img [src]="previewPhoto" alt="preview" class="thumb" />
      </div>
    </div>
  </dx-popup>
</div>
